/* ======= Base ======= */



* {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Lato', arial, sans-serif;
  color: #444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
  font-weight: 700;
  color: #17baef;
}

a {
  color: #17baef;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #0e98c5;
}

.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

.btn:focus,
a.btn:focus {
  color: #fff;
}

a.btn-cta-primary,
.btn-cta-primary {
  background: #49B7A9;
  border: 1px solid #49B7A9;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #C0877D;
  border: 1px solid #C0877D;
  color: #fff;
}

a.btn-cta-secondary,
.btn-cta-secondary {
  background: #46A7EA;
  border: 1px solid #46A7EA;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #C0877D;
  border: 1px solid #C0877D;
  color: #fff;
}

.offset-header {
  padding-top: 90px;
}

pre code {
  font-size: 16px;
}

.imager {
  margin-top: 25px;
  width: 75%;
  position: relative;
  left: 12%;
  border-radius: 3px;
  box-shadow: 20px 21px 50px lightgrey;
}

.my-image {
  margin: -50px 0 30px 0;
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 90px;
  border-radius: 50%;
  background-clip: padding-box;
}

/* ======= Header ======= */

.header {
  z-index: 10;
  padding: 10px 0;
  background: #17baef;
  color: #fff;
  position: fixed;
  width: 100%;
}

.header.top-navbar {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.header.top-navbar .logo a {
  color: #17baef;
}

.header.top-navbar .main-nav .nav .nav-item a {
  color: #666;
}

.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}

.header .logo a {
  color: #fff;
}

.header .logo a:hover {
  text-decoration: none;
}

.header .main-nav button {
  background: #074f66;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.header .main-nav button:focus {
  outline: none;
}

.header .main-nav button .icon-bar {
  background-color: #fff;
}

.header .main-nav .navbar-close {
  padding: 0;
}

.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
}

.header .main-nav .nav .nav-item.active a {
  color: #17baef;
  background: none;
}

.header .main-nav .nav .nav-item a {
  color: #0a7396;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
}

.header .main-nav .nav .nav-item a:hover {
  color: #074f66;
  background: none;
}

.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item.active {
  color: #17baef;
}

.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}

.toggle-nav {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.toggle-nav:focus {
  outline: 0;
}

.toggle-nav .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.toggle-nav .icon-bar+.icon-bar {
  margin-top: 4px;
}

.toggle-nav {
  border-color: #ddd;
}

.toggle-nav:hover,
.toggle-nav:focus {
  background-color: #ddd;
}

.toggle-nav .icon-bar {
  background-color: #888;
}

.toggle-nav {
  border-color: #333;
}

.toggle-nav:hover,
.toggle-nav:focus {
  background-color: #333;
}

.toggle-nav .icon-bar {
  background-color: #fff;
}



.navbar-close:before,
.navbar-close:after,
{
  display: table;
  content: " ";
}

.navbar-close:after {
  clear: both;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav>li.disabled>a {
  color: #777;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav>a,
.nav>a:hover,
.nav>a:focus {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav>li>a>img {
  max-width: none;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-nav>li>a {
  color: #777;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-nav>.disabled>a,
.navbar-nav>.disabled>a:hover,
.navbar-nav>.disabled>a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-nav>a,
.navbar-nav>a:hover,
.navbar-nav>a:focus {
  color: #fff;
  background-color: #080808;
}

.text-center {
  text-align: center;
}

.btn {
  text-shadow: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.toggle-nav .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.toggle-nav .icon-bar+.icon-bar {
  margin-top: 4px;
}

.toggle-nav .icon-bar {
  background-color: #888;
}

.toggle-nav .icon-bar {
  background-color: #fff;
}

.lister {
  padding-left: 0;
  list-style: none;
}

.sec {
  margin-right: -12px;
  margin-left: -12px;
}


/* ======= informative Section ======= */

.bold {
  font-weight: bolder;
}

.informative {
  background: #414A51;
  color: #fff;
  padding-top: 150px;
}

.informative .title {
  font-size: 98px;
  color: #49B7A9;
  margin-top: 0;
}

.informative .title .highlight {
  color: #EA4846;
}

.informative .intro {
  font-size: 28px;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.informative .btns .btn {
  margin-right: 15px;
  font-size: 18px;
  padding: 8px 30px;
}

.informative .meta {
  margin-top: 120px;
  margin-bottom: 30px;
  color: #0a7396;
}

.informative .meta li {
  margin-right: 15px;
}

.informative .meta a {
  color: white;
}

.informative .meta a:hover {
  color: #0a7396;
}

.informative .social-media {
  background: #0c86ae;
  padding: 10px 0;
  margin: 0 auto;
}

.informative .social-media li {
  margin-top: 15px;
}

.informative .social-media li.facebook-like {
  margin-top: 0;
  position: relative;
  top: -5px;
}


/* ======= About Section ======= */

.about {
  padding: 80px 0;
  background: #f5f5f5;
}

.about .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 60px;
}

.about .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about .item {
  position: relative;
  margin-bottom: 30px;
}

.about .item .icon-holder {
  position: absolute;
  left: 30px;
  top: 0;
}

.about .item .icon-holder .fa {
  font-size: 24px;
  color: #074f66;
}

.about .item .content {
  padding-left: 60px;
}

.about .item .content .sub-title {
  margin-top: 0;
  color: #074f66;
  font-size: 18px;
}

.content > p {
    max-width: 250px;
}

.left {
  float: left;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.highlighters {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

@media (min-width: 768px) {
  .highlighters {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .highlighters {
    width: 33%;
  }
}


/* ======= Features Section ======= */

.features {
  clear: both;
  padding: 80px 0;
  background: #49B7A9;
  color: #fff;
}

.features .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}

.features a {
  color: #074f66;
}

.features a:hover {
  color: #042a36;
}

.features .feature-list li {
  margin-bottom: 10px;
  color: #074f66;
}

.features .feature-list li .fa {
  margin-right: 5px;
  color: #fff;
}


/* ======= Docs Section ======= */

.docs {
  padding: 80px 0;
  background: #f5f5f5;
}

.docs .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}

.docs .docs-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}

.docs .block {
  margin-bottom: 60px;
}

.docs .code-block {
  margin: 30px inherit;
}

.docs .code-block pre[class*="language-"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}


/* ======= why-chad Section ======= */

.why-chad {
  padding: 80px 0;
  background: #f5f5f5;
}

.why-chad .title {
  margin-top: 0;
  margin-bottom: 60px;
  color: #074f66;
}

.why-chad .why-chad-inner {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
}

.why-chad .info {
  max-width: 760px;
  margin: 0 auto;
}

.why-chad .cta-container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.why-chad .cta-container .speech-bubble {
  background: #C0877D;
  color: #074f66;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.why-chad .cta-container .speech-bubble:after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d6f3fc;
}

.why-chad .cta-container .icon-holder {
  margin-bottom: 15px;
}

.why-chad .cta-container .icon-holder .fa {
  font-size: 56px;
}

.why-chad .cta-container .intro {
  margin-bottom: 30px;
}


/* ======= Contact Section ======= */

.contact {
  padding: 80px 0;
  background: #414A51;
  color: #fff;
}

.contact .contact-inner {
  max-width: 760px;
  margin: 0 auto;
}

.contact .title {
  color: #46A7EA;
  margin-top: 0;
  margin-bottom: 30px;
}

.contact .intro {
  margin-bottom: 60px;
}

.contact a {
  color: #074f66;
}

.contact a:hover {
  color: #042a36;
}

.contact .author-message {
  position: relative;
  margin-bottom: 60px;
}

.contact .author-message .profile {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 100px;
}

.contact .author-message .profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.contact .author-message .speech-bubble {
  margin-left: 155px;
  background: #49B7A9;
  color: #074f66;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}

.contact .author-message .speech-bubble .sub-title {
  color: #074f66;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}

.contact .author-message .speech-bubble a {
  color: #fff;
}

.contact .author-message .speech-bubble:after {
  position: absolute;
  left: -10px;
  top: 60px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #10b2e7;
}

.contact .author-message .speech-bubble .source {
  margin-top: 30px;
}

.contact .author-message .speech-bubble .source a {
  color: #074f66;
}

.contact .author-message .speech-bubble .source .title {
  color: #0c86ae;
}

.contact .info .sub-title {
  color: #0e98c5;
  margin-bottom: 30px;
  margin-top: 0;
}

.contact .social-icons {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  margin: 0 auto;
}

.contact .social-icons li {
  float: left;
}

.contact .social-icons li.last {
  margin-right: 0;
}

.contact .social-icons a {
  display: inline-block;
  background: #0c86ae;
  width: 48px;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 8px;
  float: left;
}

.contact .social-icons a:hover {
  background: #e6ad14;
}

.contact .social-icons a .fa {
  color: #fff;
}

.contact .social-icons a .fa:before {
  font-size: 26px;
  text-align: center;
  padding: 0;
}


/* ======= Footer ======= */

.footer {
  padding: 15px 0;
  background: #042a36;
  color: #fff;
}

.footer .copyright {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.footer .fa-heart {
  color: #fb866a;
}

.meta .list-inline .bold li {
  list-style: none;
  display: inline-flex;
}

.mytag {
  list-style: none;
  display: inline-flex;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: 50px;
}


/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
  .highlight {
    display: block;
  }
  .header .main-nav button {
    margin-right: 0;
  }
  .header .main-nav .navbar-close {
    padding-left: 15px;
    padding-right: 15px;
  }
  .informative .btns .btn {
    margin-right: 0;
    clear: both;
    display: block;
    margin-bottom: 30px;
  }
  .informative .title {
    font-size: 66px;
  }
  .informative .meta {
    margin-top: 60px;
  }
  .informative .meta li {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .contact .author-message {
    text-align: center;
  }
  .contact .author-message .profile {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact .author-message .speech-bubble {
    margin-left: 0;
  }
  .contact .author-message .speech-bubble:after {
    display: none;
  }
  .contact .social-icons a {
    width: 36px;
    height: 36px;
    padding-top: 7px;
    margin-right: 2px;
  }
  .contact .social-icons a .fa:before {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .content > p {
    max-width: initial;
  } 
  .img-responsive {
    bottom: 0;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container>.navbar-header,
  .container>.navbar-close,
  {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-close {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-close.close {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible
  }
  .navbar-close.in {
    overflow-y: visible;
  }
  .navbar-close,
  .navbar-close,
  .navbar-close {
    padding-right: 0;
    padding-left: 0;
  }
  .toggle-nav {
    display: none;
  }
  .navbar-header {
    float: left;
  }
  .navbar-right {
    right: 0;
    left: auto;
  }
  .navbar-right-left {
    right: auto;
    left: 0;
  }
  .navbar-left {
    float: left
  }
  .navbar-right {
    float: right;
  }
  .navbar-right~.navbar-right {
    margin-right: 0;
  }
}

.top-navbar .navbar-close,
.navbar-close {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-close,
  .navbar-close {
    max-height: 200px;
  }
}

.close {
  display: none;
}

.close.in {
  display: block;
}

tr.close.in {
  display: table-row;
}

tbody.close.in {
  display: table-row-group;
}

.top-navbar .navbar-close,
.navbar-close {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-close,
  .navbar-close {
    max-height: 200px;
  }
}

.container>.navbar-header,
.container>.navbar-close,
{
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container>.navbar-header,
  .container>.navbar-close,
  {
    margin-right: 0;
    margin-left: 0;
  }
}